.card {
    padding: var(--spacing-lg);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    background: var(--background-surface);
}

.title {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-lg);
    color: var(--text-primary);
    margin: 0;
}

.message {
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-sm);
    color: var(--text-intermediate);
    margin: 0;
}

.buttons {
    display: flex;
    gap: var(--spacing-md);
    justify-content: flex-end;
}

.cancelButton,
.confirmButton {
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: var(--spacing-sm);
    font-family: var(--font-family-secondary);
    font-size: var(--font-size-sm);
    cursor: pointer;
    transition: 0.2s;
}

.cancelButton {
    background: var(--cta-text-hover);
    color: var(--cta-text);
    border: 1px solid var(--cta-text);
}

.cancelButton:hover {
    background: var(--cta-text);
    color: var(--background-surface);
}

.confirmButton {
    background: var(--color-error-bg);
    color: var(--color-error-base);
    border: 1px solid var(--color-error-base);
}

.confirmButton:hover {
    background: var(--color-error-base);
    color: var(--background-surface);
}