.appContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header {
    padding: var(--spacing-md);
}

.mainLayout {
    padding: 0 var(--spacing-md) var(--spacing-md) var(--spacing-md);
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-md);
}

.mainLayout > aside {
    flex: 0 0 auto;
}

.mainLayout > main {
    flex: 1;
    display: flex;
    flex-direction: column;
}
